@import "./base/vars.less";
@import "./base/theme.less";

#login {
  width: 100%;
  height: 100vh;
  background: #fff;
  .content{
    height: 100%;
    display: grid;
    .background-login{
      width: 100%;
      height: 100%;
      background-image: url('/images/image-login.png');
      background-size: cover;
    }
    .content-form {
      position: relative;
      top: 100px;
      .logo {
        margin: 10px 0px 30px;
        text-align: center;
        .img {
          width: 250px;
          margin: 0 auto;
          img {
            width: 100%;
          }
        }
        .sitename {
          padding-top: 16px;
          text-align: center;
          letter-spacing: 0px;
          color: #4D4F5C;
          opacity: 0.5;
        }
      }
      .forgot-text {
        float: right;
        letter-spacing: 0px;
      }
      .btn {
        width: 100%;
      }
      .login {
        background: @primary-color 0% 0% no-repeat padding-box;
        border: 1px solid rgb(220, 220, 228);
        border-radius: 4px;
      }
      .register {
        border: 1px solid rgb(220, 220, 228);
        border-radius: 4px;
      }
      .register-custom {
        background: @primary-color 0% 0%;
        border-radius: 4px;
        height: 40px;
        width: 130px;
      }
    }
  }
}
