@import "./base/vars.less";
@import "./base/theme.less";

#user {
  .ant-layout-header {
    padding: 0;
  }
  .content {
    height: calc(100vh - 64px);
    overflow-y: scroll;
    background-color: black;
  }

  .sider {
    background-color: #262a2d;
    height: calc(100vh - 64px);
    overflow-y: scroll;
    &-space {
      padding: 4px;
    }
  }
  .container {
    background-color: #333333;
    height: calc(100vh - 64px);
    overflow-y: scroll;
  }
  .user-info {
    position: fixed;
    right: 0px;
  }
  .logo-middle {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    > img {
      height: 55px;
      margin-top: -50px;
    }
    // &:hover {
    //   background-color: @primary-color;
    // }
  }

  .select-list-item {
    cursor: pointer;
    // background-color: transparent;
    video {
      opacity: 0.6;
    }
    .ant-list-item-meta-title {
      color: #f4f4f4;
    }
    .ant-typography.video-list-title {
      color: #f4f4f4;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      video {
        opacity: 1;
      }
    }
  }

  .select-list-item.active {
    background-color: rgba(255, 255, 255, 0.1);
    video {
      opacity: 1;
    }
    .ant-list-item-meta-title {
      color: @primary-color;
    }
    .ant-typography.video-list-title {
      color: @primary-color;
    }
  }

  .select2 {
    color: #fff;
    background-color: #43425d;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    border: solid 1px #262a2d;
  }
  .select2:hover {
    background-color: #262a2d;
    cursor: pointer;
    border: solid 1px #43425d;
  }
  .select2:active {
    background-color: aliceblue;
  }
  .input-bg {
    background-color: #1a1e21;
  }
  .list-item {
    max-height: calc(100vh - 245px);
    overflow-y: scroll;
  }
  .divider-text {
    color: @primary-color;
  }
  .ant-divider-horizontal.ant-divider-with-text::before {
    border-top: solid 1px @primary-color;
  }
  .ant-divider-horizontal.ant-divider-with-text::after {
    border-top: solid 1px @primary-color;
  }
  .child-select {
    .ant-divider-horizontal.ant-divider-with-text {
      margin: 4px 0;
    }
  }
  .box {
    margin: 24px;
    padding: 24px;
    border-radius: 5px;
    &-gray {
      background-color: #262a2d;
    }
  }
  .video-player {
    background-color: black;
    width: -webkit-fill-available;
    // box-sizing: border-box;
  }
  .ant-upload.ant-upload-select.ant-upload-select-picture-card {
    background-color: transparent;
    width: 120px;
    height: 120px;
  }
  .result-img {
    margin: 4px;
    display: inline-block;
    border: solid 1px #000;
  }
  .result-video {
    margin: 4px;
    display: inline-block;
    border: solid 1px #000;
  }
  .list {
    &-video {
      .ant-list-item {
        padding: 12px 0px 0px 0px;
      }
    }
  }
  .ant-tabs-nav {
    display: none;
  }

  .main-container {
    margin: 24px;
    border-radius: 8px;
  }

  .ant-card.card-container.ant-card-bordered {
    background-color: #262a2d;
    border: 1px solid @primary-color;

    .ant-card-head {
      border-bottom: 1px solid @primary-color;
      color: @primary-color;
    }
  }
  .ant-steps-item.ant-steps-item-wait {
    .ant-steps-item-title {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .ant-steps-item.ant-steps-item-finish {
    .ant-steps-item-title {
      color: #f4f4f4;
    }
  }
  .ant-steps-item.ant-steps-item-process.ant-steps-item-active {
    .ant-steps-item-title {
      color: @primary-color;
    }
  }
  .ant-card.card-transparent {
    color: #f4f4f4;
    background-color: transparent;
    border: solid 1px transparent;
  }
  .ant-typography {
    color: #f4f4f4;
  }
  .ant-tree-title {
    span.secondary {
      color: rgba(255, 255, 255, 0.45);
    }
  }
  .ant-upload {
    color: #f4f4f4;
    &:hover {
      color: @primary-color;
    }
  }
  .ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.filter-menu {
    background-color: transparent;
    .ant-menu-submenu-title {
      background-color: transparent;
      color: @primary-color;
    }
    .ant-menu.ant-menu-sub.ant-menu-inline {
      background-color: #1a1e21;
    }
    .ant-menu-submenu-arrow::before {
      background: @primary-color;
    }
    .ant-menu-submenu-arrow::after {
      background: @primary-color;
    }
  }
  .ant-checkbox-wrapper {
    color: #f4f4f4;
  }
  .ant-checkbox-disabled + span {
    color: #43425d;
  }
  .ant-checkbox-disabled {
    .ant-checkbox-inner {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }

  .ant-tree {
    background-color: transparent;
    color: #f4f4f4;
    .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal:hover {
      color: @primary-color;
      background-color: #43425d;
    }
    .ant-tree-node-content-wrapper.ant-tree-node-selected {
      background-color: @primary-color;
    }
  }

  .ant-tree-checkbox-disabled .ant-tree-checkbox-inner {
    background-color: rgba(255, 255, 255, 0.25);
  }

  .side-container {
    display: flex;
    height: calc(100vh - 64px);
    overflow-y: scroll;
    flex-direction: column;
    .side-block {
      flex: 1;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .side-bottom {
      flex: 0 0 200px;
      overflow-x: hidden;
      overflow-y: hidden;
      &-small {
        flex: 0 0 100px;
      }
    }
  }

  .ant-collapse-content-box {
    padding: 0;
  }

  .ant-collapse-header {
    padding: 0;
  }
}

.mg {
  &-8 {
    margin: 8px;
  }
}
.map-layout {
  transform-origin: top left;
}

.mapLayout {
  position: relative;
  width: 100%;
  height: 100%;

  .map-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;

    .map-marker {
      position: absolute;
      top: 0;
      left: 0;

      transition: all 0.3s ease;

      img {
        width: 100%;
      }
    }
    .info {
      transition: all 0.3s ease;
    }

    .camera-component {
      cursor: pointer;

      .info {
        position: absolute;
        top: 0;
        right: -10px;

        .camera-label {
          font-size: 9px;
          letter-spacing: 0;
          border: 1px solid #559f00;
          background-color: #fff;
          color: #333;
          border-radius: 50%;
          width: 14px;
          height: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &.offline {
        opacity: 0.5;
        .info {
          .camera-label {
            border-color: rgb(110, 110, 110);
          }
        }
      }
      &.alert {
        .info {
          .camera-label {
            border-color: #c00000;
          }
        }
        animation: blinker 1s ease-in-out infinite;
      }

      &:hover {
        .map-marker {
          transform: scale(1.8);
        }
      }
    }

    .sensor {
      cursor: pointer;
      position: relative;

      & > .info {
        position: absolute;

        font-size: 9px;
        line-height: 9px;
        border-radius: 4px;
        background-color: #f4f4f4;
        padding: 5px;
      }

      &:hover {
        & > .info {
          transform: scale(1.2);
          background-color: #e2e2e2;
        }
      }
    }
  }
}
.checkbox-dropdown {
  .ant-popover-inner-content {
    padding: 0;
  }
}

.ant-col-55 {
  display: block;
  flex: 0 0 20%;
  max-width: 20%;
}

.user-stream-modal {
  .ant-modal-header {
    background-color: @primary-color;
    border-bottom: rgba(33, 33, 33, 0.2);
    .ant-modal-title {
      color: #f4f4f4;
    }
  }
  .ant-modal-close {
    color: rgba(244, 244, 244, 0.5);
  }
  .ant-modal-close:hover {
    color: rgba(244, 244, 244);
  }
}

.player-grid {
  border: solid 1px #000;
  aspect-ratio: 16/9;
  // margin: 0 4px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.player-error {
  position: absolute;
  top: 50%;
  left: 50%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.picture-wall {
  &-placeholder {
    height: 35px;
    display: inline-block;
    margin: 0px 4px;
    cursor: pointer;
  }
  &-preview {
    margin-top: 20px;
    height: 320px;
    background-color: #43425d;
    text-align: center;
    padding: 20px;
  }
  &-all {
    background-color: #000;
    height: 200px;
    border-top: solid 4px #333333;
    word-wrap: break-word;
    overflow-y: scroll;
    &-image {
      display: inline-block;
      margin: 4px;
      height: 45px;
      cursor: pointer;
      border: solid 1px #000;
      &.active {
        border: solid 1px #559f00;
      }
      &:hover {
        border: solid 1px @primary-color;
      }
    }
  }
}

.ant-col-55 {
  display: block;
  flex: 0 0 20%;
  max-width: 20%;
}

.analysis-result {
  .ant-row {
    align-content: baseline;
  }
}

.result-card {
  border: solid 2px green;
  // height: 140px;
  color: #f4f4f4;
  .icon-button {
    cursor: pointer;
    padding: 0 4px;
    :hover {
      color: @primary-color;
    }
  }
  &-header {
    border-bottom: solid 1px green;
    display: flex;
    padding: 0 4px;
    &-title {
      flex: 1;
    }
    &-extra {
      flex: 40px;
      text-align: right;
    }
  }

  &-body {
    height: 100px;
    overflow: hidden;
    background-color: #43425d;
    display: flex;
    &-content {
      text-align: center;
      flex: 1;
    }
  }

  &-footer {
    padding: 0 4px;
    border-top: solid 1px green;
    display: flex;
    &-time {
      flex: "auto";
    }
    &-extra {
      flex: 40px;
      text-align: right;
    }
  }
}

.select-color {
  float: right;
  margin-right: 5px;
}
.ant-select-selection-item {
  .select-color {
    margin-top: 5px;
  }
}
.color {
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  position: relative;
  box-shadow: #000 2px 2px 2px;
  &-full {
    background-color: #fff;
    background-image: conic-gradient(blue, red, yellow, green, blue);
  }
  &-black {
    background-color: #000;
  }
  &-white {
    background-color: #fff;
  }
  &-gray {
    background-color: #8c8c8c;
  }
  &-red {
    background-color: #cf1322;
  }
  &-yellow {
    background-color: #ffec3d;
  }
  &-orange {
    background-color: #ffa940;
  }
  &-green {
    background-color: #52c41a;
  }
  &-blue {
    background-color: #1890ff;
  }
  &-brown {
    background-color: #874d00;
  }
  &-purple {
    background-color: #722ed1;
  }
  &-pink {
    background-color: #f759ab;
  }
}
